params:
  image_params:
    image_size: 640
  ros_topics:
    raw_image_topic: "/camera/color/image_raw"
    segmented_image_topic: "/camera/color/image_segment"
  model_params:
    model_name: "PanopticFCN"
    model_path: "include/panoptic_fcn_r50_512_3x.pth"
    point_prompt: [[0, 0]]
    box_prompt: [[0, 0, 0, 0]]
    text_prompt: ""
    point_label: [0]
    iou: 0.9
    conf: 0.4
    contour: False
